@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  background: black;
  padding: 0;
  color: white;
}
.dark-white {
  background-color: white;
  color: black;
  padding: 0;
}
#imagen-principal {
  width: 100%;
  height: 90vh; /* ocupa el 90% de la altura de la pantalla */
  object-fit: cover; /* ajusta la imagen al tamaño del contenedor */
  border-radius: 5px;
}

#barra {
  position: relative;
  background: #2a2a2a;
  padding: 3px;
  border-radius: 5px;
}
#barra-white {
  position: relative;
  background: rgb(179, 185, 247);
  padding: 3px;
  border-radius: 5px;

  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#countdown-btn {
  position: absolute;
  transform: translateX(50%);
  right: 50%;
  background-color: #4059f2;
  margin-top: 2px;
  height: 50px;
  width: 250px;
  border: none;
  margin-top: 5px;
  border-radius: 5px;
  background-repeat: no-repeat;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
}
#countdown-btn:hover {
  cursor: pointer;
  background-color: #465df3;
}

#countdown-btn img {
  margin-top: 5px;
  height: 30px;
  width: 30px;
}

.email {
  position: relative;
  background-color: #4059f2;
  width: 150px;
  height: 50px;
  border: none;
  margin-top: 5px;
  border-radius: 5px;
  margin-left: 5px;
}
.email:hover {
  cursor: pointer;
  background-color: #465df3;
}
.email img {
  margin-top: 5px;
  height: 30px;
  width: 30px;
}

.email2 {
  position: relative;
  background-color: #4059f2;
  width: 150px;
  height: 50px;
  border: none;
  float: right;
  margin-top: 5px;
  border-radius: 5px;
  margin-right: 5px;
}
.email2:hover {
  cursor: pointer;
  background-color: #445bf3;
}
.email2 img {
  margin-top: 5px;
  height: 25px;
  width: 25px;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

@media (max-width: 768px) {
  /* Estilos para pantallas de menos de 768px de ancho */
  #imagen-principal {
    height: 50vh;
  }
}

@media (max-width: 480px) {
  /* Estilos para pantallas de menos de 480px de ancho */
  #imagen-principal {
    height: 30vh;
  }
  #boton-centrado {
    font-size: 1em;
    padding: 10px;
  }
}
