@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  background: black;
  padding: 0;
  margin-top: 5%;
}

.contenedor {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 15%;
  border-radius: 5px;
  width: 450px;
  height: 600px;
  background: #17181d;
  color: white;

}
.objets {
  padding: 10px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.marco {
  border-radius: 4px 4px 0px 0px;
  height: 10px;
  background-color: #4059f2;
}
.formulario {
  margin-top: 30px;
  position: absolute;
}
.formulario input {
  font-family: "Poppins", sans-serif;
}
#nombre {
  margin-right: 50px;
  border: 1px solid black;
  border-radius: 5px;
  height: 30px;
  width: 180px;
}
#apellido {
  border: 1px solid black;
  border-radius: 5px;
  height: 30px;
  width: 160px;
}
#email {
  margin-top: 30px;
  border: 1px solid black;
  border-radius: 5px;
  height: 30px;
  width: 180px;
}
#fecha {
  margin-left: 50px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid black;
  width: 160px;
}
#suger {
  margin-top: 30px;
  width: 400px;
  height: 200px;
  border-radius: 5px;
  border: 1px solid black;
  text-align: start;
  font-family: "Poppins", sans-serif;
}
.envio {
  font-family: "Poppins", sans-serif;
}
#back {
  position: absolute;
  margin-top: 20px;
  width: 150px;
  height: 50px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #4059f2;
  font-size: 18px;
  color: white;
  cursor: pointer;
}
#submit {
  margin-left: 250px;
  height: 50px;
  width: 150px;
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #4059f2;
  color: white;
  font-size: 18px;
}
